<% @products.each do |product| %>
  <%= product.name %>
  <%= truncate product.description %>

  <button class="js-more-info" data-id="<%= product.id %>">More Info</button>

  <script type="text/javascript" charset="utf-8">
    $(function () {
      $(".js-more-info").on('click', function() {
        var id = $(this).data("id");
        $.get("/products/" + id + "/description", function(data) {
          // $("#body-" + id).text(data);
        });
      });
    });
    </script>
<% end %>
